<div class="bg-white rounded shadow-lg container mx-auto p-4 mt-2">
  <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
    <div class="text-gray-600">
      <p class="font-medium text-lg">Choose A Organization to edit</p>
    </div>
    <!--Title Of Model to search-->
    <div class="md:col-span-5">
      <label for="address">Organization Name</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Organization Name</mat-label>
        <input
          type="text"
          placeholder="Select one"
          aria-label="string"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <play-components-simple-button
        title="Get"
        [icon]="faSync"
        (click)="getOrg(myControl)"
        size="w-full"
        color="blue"
        action="submit"
      >
      </play-components-simple-button>
    </div>

    <form
      *ngIf="showForm"
      [formGroup]="updateForm"
      class="md:col-start-2 md:col-end-3"
    >
      <div class="lg:col-span-2">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
          <div class="md:col-span-5">
            <label for="title">Organization Name</label>
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
              required
            />
          </div>

          <div class="md:col-span-5">
            <label for="segmentTerminator">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              formControlName="email"
              class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
              required
            />
          </div>

          <div class="md:col-span-5 text-right">
            <play-components-simple-button
              title="Update"
              [icon]="faSync"
              (click)="updateOrg(myControl)"
              size="w-full"
              color="blue"
              [loading]="loading"
              [disabled]="updateForm.invalid"
              action="submit"
              id="submit"
            >
            </play-components-simple-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
