<div *ngIf="loading" class="text-center pt-5 mt-5">
  <play-components-simple-spinner
    *ngIf="loading"
    class="grow"
    mainColor="blue"
    id="spinner"
  ></play-components-simple-spinner>
</div>
<ng-container *ngIf="!loading">
  <mat-form-field appearance="standard">
    <mat-label>Search 🔍</mat-label>
    <input
      matInput
      (keyup.enter)="applyFilter($event)"
      placeholder="Press enter to search"
      #input
    />
  </mat-form-field>
  <div class="container">
    <!--tailwind , 2 buttons, flex -->
    <div class="flex justify-between pl-2 pb-2">
      <div class="flex">
        <button
          (click)="getItems(1, 1000, true)"
          class="bg-blue-500 mr-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md"
        >
          <fa-icon [icon]="faSync"></fa-icon>
          Refresh
        </button>
        <!-- button to fetch all totalItems items -->
        <button
          (click)="getItems(1, totalItems, true)"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md"
          [matTooltip]="'Using this may crash your browser, beware!'"
        >
          <fa-icon [icon]="faDownload"></fa-icon>
          Fetch all {{ totalItems }} items
        </button>
      </div>
      <div class="flex"></div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <!-- blue tailwind badge with code if code doesn't containt 'ΥΠΗΡ' if it does make it light orange -->
          <td mat-cell *matCellDef="let element">
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-blue-100 text-blue-800"
              *ngIf="!element.code.includes('ΥΠΗΡ')"
              >{{ element.code }}</span
            >
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-orange-100 text-orange-800"
              *ngIf="element.code.includes('ΥΠΗΡ')"
              >{{ element.code }}</span
            >
          </td></ng-container
        >

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- factoryCode -->
        <ng-container matColumnDef="factoryCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FactoryCode</th>
          <td mat-cell *matCellDef="let element">
            <span
              *ngIf="element.factoryCode"
              class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-100 text-indigo-800"
            >
              {{ element.factoryCode }}
            </span>
          </td>
        </ng-container>

        <!-- Created -->
        <ng-container matColumnDef="Created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
          <td mat-cell *matCellDef="let row">
            {{ row.createdAt | date: 'medium' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 25, 100]"
        aria-label="Select page"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>
  </div>
</ng-container>
