<div *ngIf="loading" class="text-center pt-5 mt-5">
  <play-components-simple-spinner
    *ngIf="loading"
    class="grow"
    mainColor="blue"
  ></play-components-simple-spinner>
</div>

<ng-container *transloco="let t; read: 'edi-dashboard'">
  <mat-form-field appearance="standard">
    <mat-label>{{ t('edi-documents-table.filter_label') }} 🔍</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ΤΙΠ-0002181"
      #input
    />
  </mat-form-field>

  <div class="container">
    <!--tailwind , 2 buttons, flex -->
    <div class="flex justify-between pl-2 pb-2">
      <div class="flex space-x-4">
        <play-components-simple-button
          (click)="getDocuments(1, 1000)"
          title="{{ t('edi-documents-table.refresh_label') }}"
          color="blue"
          [icon]="faSync"
          id="refresh"
          [loading]="loading"
        ></play-components-simple-button>
        <play-components-simple-button
          *ngIf="unSentDocuments !== 0"
          (click)="openSendDialog('0ms', '0ms')"
          [icon]="faCloudUpload"
          title="{{ t('edi-documents-table.upload') }}"
          [insideContent]="true"
          [content]="unSentDocuments === 0 ? 0 : unSentDocuments"
        >
        </play-components-simple-button>
      </div>
      <div class="flex"></div>
    </div>
    <div class="mat-elevation-z8">
      <table *ngIf="!loading" mat-table [dataSource]="dataSource" matSort>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('edi-documents-table.title') }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.title }}
          </td>
        </ng-container>

        <!-- isProcessed Column -->
        <ng-container matColumnDef="isProcessed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('edi-documents-table.processed') }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span class="ml-auto">
              <play-components-simple-badge
                *ngIf="row.isProcessed"
                title="{{ t('edi-documents-table.processed') }}"
                backgroundColor="green"
                size="sm"
                textColor="green"
              >
              </play-components-simple-badge>
              <play-components-simple-badge
                *ngIf="!row.isProcessed"
                title="{{ t('edi-documents-table.waiting') }}"
                backgroundColor="red"
                size="sm"
                textColor="red"
              >
              </play-components-simple-badge>
            </span>
          </td>
        </ng-container>

        <!-- isSent Column -->
        <ng-container matColumnDef="isSent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('edi-documents-table.sent') }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span class="ml-auto">
              <play-components-simple-badge
                *ngIf="row.isSent"
                title="{{ t('edi-documents-table.sent') }}"
                backgroundColor="green"
                size="sm"
                textColor="green"
              >
              </play-components-simple-badge>
              <play-components-simple-badge
                *ngIf="!row.isSent"
                title="{{ t('edi-documents-table.waiting') }}"
                backgroundColor="red"
                size="sm"
                textColor="red"
              >
              </play-components-simple-badge>
            </span>
          </td>
        </ng-container>

        <!--created_At Column with date pipe-->
        <ng-container matColumnDef="created_At">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('edi-documents-table.created_at') }}
          </th>
          <td mat-cell *matCellDef="let row">{{ row.created_At | date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          (click)="openInformationDialog(row)"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            {{ t('edi-documents-table.row_no_data') }} "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      ></mat-paginator>
    </div>
  </div>
</ng-container>
