table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-column-avatarUrl {
  width: 10% !important;
}

.mat-row:hover .mat-cell {
  background-color: #eeeeee;
}
