<div class="h-full ml-14 mt-14 mb-10 md:ml-20">
  <!--Initial Text-->
  <section class="bg-gray-200 container mx-auto">
    <div class="pt-5 pb-5">
      <h1 class="text-2xl font-bold text-blue-900">EDI Credits</h1>
      <p class="text-sm text-gray-500"></p>
    </div>
  </section>
  <hr class="border border-gray-200 my-10 mx-5" />

  <div class="container mx-auto">
    <play-components-simple-button
      *ngIf="showAddCredit || showUpdateCredit || showDeleteCredit"
      title="Back to Credits"
      (click)="goBack()"
      [icon]="faArrowLeft"
    ></play-components-simple-button>
  </div>

  <!--CRUD CARDS-->
  <section class="overflow-hidden md:overflow-x-hidden container mx-auto pt-14">
    <div class="flex -mx-2 mt-2 pl-2 pr-2 animate__animated animate__fadeIn">
      <div
        (click)="showAddCreditForm()"
        [ngClass]="
          activeTab === 'create-credit'
            ? 'bg-blue-900 text-white'
            : 'hover:bg-blue-900 hover:text-white bg-white text-blue-900'
        "
        class="cursor-pointer w-1/3 p-4 border border-gray-300 shadow-md rounded-lg mx-2"
      >
        <div class="flex items-center bg-blue-200 rounded-full w-12 h-12">
          <fa-icon
            class="text-blue-900 w-full text-center"
            [icon]="faAdd"
          ></fa-icon>
        </div>
        <h2 class="text-lg font-bold pt-2 mt-2">Create</h2>
      </div>
      <div
        (click)="showUpdateCreditForm()"
        [ngClass]="
          activeTab === 'edit-credit'
            ? 'bg-blue-900 text-white'
            : 'hover:bg-blue-900 hover:text-white bg-white text-blue-900'
        "
        class="cursor-pointer w-1/3 p-4 border border-gray-300 shadow-md rounded-lg mx-2"
      >
        <div class="flex items-center bg-blue-200 rounded-full w-12 h-12">
          <fa-icon
            class="text-blue-900 w-full text-center"
            [icon]="faSync"
          ></fa-icon>
        </div>
        <h2 class="text-lg font-bold pt-2 mt-2">Update</h2>
      </div>

      <div
        (click)="showDeleteCreditForm()"
        [ngClass]="
          activeTab === 'delete-credit'
            ? 'bg-blue-900 text-white'
            : 'hover:bg-blue-900 hover:text-white bg-white text-blue-900'
        "
        class="cursor-pointer w-1/3 p-4 border border-gray-300 shadow-md rounded-lg mx-2"
      >
        <div class="flex items-center bg-blue-200 rounded-full w-12 h-12">
          <fa-icon
            class="text-blue-900 w-full text-center"
            [icon]="faTrash"
          ></fa-icon>
        </div>
        <h2 class="text-lg font-bold pt-2 mt-2">Delete</h2>
      </div>
    </div>
    <hr class="border border-gray-200 my-10" />
  </section>

  <div *ngIf="loading" class="text-center pt-5 mt-5">
    <!--Show spinner if loading-->
    <play-components-simple-spinner
      *ngIf="loading"
      class="grow"
      mainColor="blue"
      id="spinner"
    ></play-components-simple-spinner>
  </div>

  <div
    *ngIf="!loading"
    class="w-full container mx-auto bg-gray-200 h-auto my-10 mb-4 pb-2 pl-2 pr-2"
  >
    <play-app-edi-credit-table
      *ngIf="!showAddCredit && !showUpdateCredit && !showDeleteCredit"
      (displayRow)="displayEdiCredit($event)"
      [allCustomers]="allUsers!"
    >
    </play-app-edi-credit-table>

    <play-app-edi-credit-add
      *ngIf="showAddCredit"
      [customerOptions]="customerOptions"
    >
    </play-app-edi-credit-add>

    <play-app-edi-credit-update
      *ngIf="showUpdateCredit"
      [customerOptions]="customerOptions"
    ></play-app-edi-credit-update>

    <play-app-edi-credit-delete
      *ngIf="showDeleteCredit"
      [customerOptions]="customerOptions"
    ></play-app-edi-credit-delete>
  </div>
</div>
