//class to set the background image of a button from assets
.btn-bg {
  background-image: url('/assets/Images/Login/login-1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
