<!--Footer Component-->
<footer
  class="mt-auto p-2 bg-gray-200 rounded-lg shadow md:flex md:items-center md:justify-between md:h-6 md:p-10 dark:bg-gray-800"
>
  <span
    class="text-sm text-gray-500 dark:text-gray-400 me-3 animate__animated animate__fadeIn"
    >Copyright © {{ current_year }} playsystems.io. All rights reserved.
  </span>
  <div class="mt-4">
    <span>
      <a
        href="https://support.playsystems.gr/open.php?lang=en_US"
        class="hover:underline text-gray-500 me-3 animate__animated animate__fadeIn"
        >Support Center</a
      >
      <a
        href="https://www.playsystems.io/index.php/privacy-and-personal-data-protection-statement/"
        class="hover:underline text-gray-500 animate__animated animate__fadeIn p-4"
      >
        Privacy &amp; Policy</a
      >
    </span>
  </div>
</footer>
