table {
  width: 100%;
  table-layout: fixed;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th,
td {
  overflow: hidden;
  width: 25%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-row:hover .mat-cell {
  background-color: #eeeeee;

  cursor: pointer;
}
