<div *ngIf="loading" class="text-center pt-5 mt-5">
  <play-components-simple-spinner
    *ngIf="loading"
    class="grow"
    mainColor="blue"
    id="spinner"
  ></play-components-simple-spinner>
</div>
<div class="container mx-auto" *ngIf="!loading">
  <!--tailwind , 2 buttons, flex -->
  <mat-form-field appearance="standard">
    <mat-label>Search 🔍</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="search criteria"
      #input
    />
  </mat-form-field>
  <div class="flex justify-between pl-2 pb-2">
    <div class="flex space-x-4">
      <play-components-simple-button
        (click)="refreshTable()"
        title="Refresh"
        color="blue"
        [icon]="faSync"
        [loading]="loading"
      ></play-components-simple-button>
    </div>
    <div class="flex"></div>
  </div>
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="createdAt"
      matSortDirection="desc"
    >
      <!--customerName Column-->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CustomerName</th>
        <td mat-cell *matCellDef="let row">
          <span
            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800"
          >
            {{ row.customerName }}
          </span>
        </td>
      </ng-container>

      <!-- amount Column-->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
      </ng-container>

      <!-- createdAt Column-->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedAt</th>
        <td mat-cell *matCellDef="let row">{{ row.createdAt | date }}</td>
      </ng-container>

      <!--updatedAt Column-->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>UpdatedAt</th>
        <td mat-cell *matCellDef="let row">{{ row.updatedAt | date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="displayDetails(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <div class="flex justify-center items-center h-full">
            <span class="text-gray-500"
              >No data matching ""{{ input.value }}"</span
            >
          </div>
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>
